<nav>
    <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about-soatok">About Soatok?</a></li>
        <li>
            <a href="/projects">Projects</a>
            <ul class="nav-submenu">
                <li>
                    <a href="/projects/canis">Canis</a>
                </li>
                <li>
                    <a href="https://dholecrypto.com">Dhole Cryptography</a>
                </li>
                <li>
                    <a href="/projects/faq-off">FAQ Off!</a>
                </li>
                <li>
                    <a href="/projects/fursona-sticker-switcher">Fursona Sticker Switcher</a>
                </li>
            </ul>
        </li>
        {% if articles %}
        <li>
            <a href="/articles">Articles</a>
            <ul class="nav-submenu">
                {% set i = 0 %}
                {% for entry in articles %}{#
                    #}{% if entry.published and i < 5 %}{#
                        #}{% set i = i + 1 %}{#
                        #}<li>
                        <a
                            title="{{ entry['publish-date']|e('html_attr') }}: {{ entry['long-title']|e('html_attr') }}"
                            href="/articles/{{ entry['url']|e('url') }}"
                        >{{ entry['short-title']|e('html') }}</a>
                    </li>{#
                    #}{% endif %}{#
                #}{% endfor %}
            </ul>
        </li>
        {% endif %}
        <li><a href="/freelance">Hire Soatok</a></li>
        <li>
            {% if session.userid %}
                <a href="/den">Dreamseeker's Den</a>
            {% else %}
                <span class="nav-drop">Dreamseeker's Den</span>
            {% endif %}
            <ul class="nav-submenu">
            {% if session.userid %}
                {% include "layout_den_nav.twig" %}
                <li><a href="/den/logout/{{ session['logout-nonce']|e('url') }}">Logout</a></li>
            {% else %}
                <li><a href="/den/login">Login</a></li>
                <li><a href="/den/signup">Sign Up</a></li>
            {% endif %}
            </ul>
        </li>
        <li>
            <span class="nav-drop">Soatok Online</span>
            <ul class="nav-submenu">
                <li title="FurAffinity">
                    <a href="https://www.furaffinity.net/user/soatok2" rel="noopener">{#
                        #}<img class="social-media" src="/static/furaffinity.net.png" /> soatok2{#
                    #}</a>
                </li>
                <li title="GitHub">
                    <a href="https://github.com/soatok" rel="noopener">{#
                        #}<i class="fa social-media fa-github"></i> soatok{#
                    #}</a>
                </li>
                <li title="Telegram">
                    <a href="https://t.me/IND_CCA3_Insecure" rel="noopener">{#
                        #}<i class="fa social-media fa-telegram"></i> IND_CCA3_Insecure{#
                    #}</a>
                </li>
                <li title="Twitch">
                    <a href="https://twitch.tv/soatok" rel="noopener">{#
                        #}<i class="fa social-media fa-twitch"></i> Soatok{#
                    #}</a>
                </li>
                <li title="Twitter">
                    <a href="https://twitter.com/SoatokDhole" rel="noopener">{#
                        #}<i class="fa social-media fa-twitter"></i> SoatokDhole{#
                    #}</a>
                </li>
                <li title="Patreon">
                    <a href="https://www.patreon.com/soatok" rel="noopener">{#
                        <i class="fa social-media fa-patreon"></i>#}Patreon: soatok{#
                    #}</a>
                </li>
            </ul>
        </li>
        <li><a href="https://github.com/soatok/website" rel="noopener">Website Source Code</a></li>
        {#<li><a href="/blog">Soa Talks</a></li> #}
        {# Eventually this space will be full of side projects, etc. #}
    </ul>
</nav>
